a
{
  color: black;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:visited
{
  color: purple;
}


body
{
    font-family: arial;
}

ul
{
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding: 2vh 80vw 0;
  margin-top: -110px;
  position: fixed;
}

li
{
  display: flex;
  margin: 5px;
}

li > img
{
  margin-top: -10px;
  cursor: pointer;
}

li > input
{
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 4px;
}


#logo
{
  text-align: center;
  margin-top: 130px;
}

#barre_recherche
{
  text-align: center;
  border-radius: 50%;
  margin-top: -40px;
}

#boutons
{
  text-align: center;
  margin-top: 30px;
}

#boutons input
{
  background-color: #eee;
  color: grey;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
}

footer
{
 display: flex;
 background-color: #eee;
 color: #gray;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 flex-direction: column;
}


.nav_footer div
{ 
  display: flex;
  flex-direction: row;
  font-size: small;
  justify-content: space-between;
}

.nav_footer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5f6368;
  height: 35px;
}

.footer_droit 
{
  display: flex;
  align-items: flex-end;
}

.footer_gauche 
{
  display: flex;
  align-items: flex-start;
}


