a
{
  color: black;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a:visited
{
  color: purple;
}


body
{
    font-family: arial;
}

ul
{
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  padding: 2vh 80vw 0;
  margin-top: -110px;
  position: fixed;
}

li
{
  display: flex;
  margin: 5px;
}

li > img
{
  margin-top: -10px;
}

li > input
{
  background-color: blue;
  color: white;
  border-radius: 4px;
}


#logo
{
    text-align: center;
    margin-top: 130px;
}

#barre_recherche
{
    text-align: center;
    border-radius: 50%;
    margin-top: -60px;
}

#boutons
{
    text-align: center;
    margin-top: 20px;
}

#boutons input
{
background-color: #eee;
 border: none;
 color: #grey;
 padding: 10px 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 13px;
}

footer
{
 display: flex;
 background-color: #eee;
 color: #gray;
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
}


.pays
{

   border-top: #CFCBCA;

}

.footer_droit
{
  text-align: right;
  padding-top: 10px;
}

.footer_gauche
{
  float: left;
  text-align: left;
  margin: auto;
  padding-top: 10px;
}




